@use 'vars' as v;
@use 'Mixins' as m;

.CreateAccount {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	&__container {
		display: grid;
		grid-template-rows: auto 1fr auto;
		width: 300px;
		@include m.responsive(mobile) {
			height: 100%;
		}
	}
	&__title {
		@include m.secondary-title;
	}
	&__form {
		display: flex;
		flex-direction: column;
		@include m.responsive(mobile) {
			height: 100%;
			justify-content: space-between;
		}
		&--label {
			@include m.label-title;
		}
		div {
			display: flex;
			flex-direction: column;
			input {
				border: none;
				border-radius: 8px;
				background-color: v.$text-input-field;
				height: 30px;
				font-size: v.$md;
				padding: 6px;
				margin-bottom: 28px;
			}
		}
		&--button {
			@include m.primary-button;
		}
	}
}
