@use 'vars';
@import 'Breakpoinst';

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid vars.$very-light-pink;
  &__menu {
    display: none;
    /* @media (max-width: 640px) {
      display: block;
    } */
    @include responsive (mobile) {
      display: block;
    }
  }

  &__left {
    width: 100px;
    display: flex;
    &--logo {
      width: 100px;
    }
    ul {
      margin-left: 12px;
      li {
        @media (max-width: 640px) {
          display: none;
        }
      }
      /* @include media(mobile-only) {
        display: none;
      } */
    }
  }
  &__left ul,
  &__right ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    height: 60px;
    li a {
      text-decoration: none;
      color: vars.$very-light-pink;
      border: 1px solid vars.$white;
      padding: 8px;
      border-radius: 8px;
    }
    a:hover {
      border: 1px solid vars.$hospital-green;
      color: vars.$hospital-green;
    }
  }
  &__right {
    &--email {
      color: var(--very-light-pink);
      font-size: var(--sm);
      margin-right: 12px;
      @media (max-width: 768px) {
        display: none;
      }
      /* @include media(mobile-only) {
        display: none;
      } */
    }
    &--cart {
      position: relative;
      div {
        width: 16px;
        height: 16px;
        background-color: var(--hospital-green);
        border-radius: 50%;
        font-size: var(--sm);
        font-weight: bold;
        position: absolute;
        top: -6px;
        right: -3px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

/* @media (max-width: 640px) {
  .menu {
    display: block;
  }
  .header-left ul {
    display: none;
  }
  .header-email {
    display: none;
  }
} */

