@use 'vars' as v;
@use 'Mixins' as m;

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid v.$very-light-pink;
  &__menu {
    display: none;
    @include m.responsive (mobile) {
      display: block;
    }
  }

  &__left {
    width: 100px;
    display: flex;
    &--logo {
      width: 100px;
    }
    ul {
      margin-left: 12px;
      li {
        @include m.responsive (mobile) {
          display: none;
        }
      }
    }
  }
  &__left ul,
  &__right ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    height: 60px;
    li a {
      text-decoration: none;
      color: v.$very-light-pink;
      border: 1px solid v.$white;
      padding: 8px;
      border-radius: 8px;
    }
    a:hover {
      border: 1px solid v.$hospital-green;
      color: v.$hospital-green;
    }
  }
  &__right {
    &--email {
      color: v.$very-light-pink;
      font-size: v.$md;
      margin-right: 14px;
      @include m.responsive(mobile) {
        display: none;
      }
    }
    &--email:hover {
      cursor: pointer;
    }
    &--cart {
      position: relative;
      div {
        width: 16px;
        height: 16px;
        background-color: v.$hospital-green;
        border-radius: 50%;
        font-size: v.$sm;
        font-weight: bold;
        position: absolute;
        top: -6px;
        right: -3px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &--cart:hover {
      cursor: pointer;
    }
  }
}


