@use './_vars.scss' as v;
@use 'Mixins' as m;

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  &__logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    &--label {
      @include m.label-title;
    }
    &--email,
    &--password {
      @include m.text-input;
    }
    a {
      color: v.$hospital-green;
      font-size: v.$sm;
      text-decoration: none;
      text-align: center;
      margin-bottom: 52px;
    }
    &--login {
      @include m.primary-button;
    }
    &--singUp {
      @include m.secondary-button;
    }
  }
}



