@use 'vars' as v;
@use 'Mixins' as m;
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);



.NotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: center;
    font-size: 10em;
    font-weight: 100;
  }
  &__text {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
  }
  &__button {
    @include m.primary-button;
    font-size: v.$title-md;
    width: 350px;
    height: auto;
    text-align: center;
    text-decoration: none;
    padding: 10px;
  }
}




