@use 'vars' as v;
@use 'Mixins' as m;

.shopping__cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
  figure {
    margin: 0;
    img {
      @include m.img-item;
    }
  }
  img:hover {
    cursor: pointer;
  }
  p:nth-child(2) {
    color: v.$very-light-pink;
  }
  p:nth-child(3) {
    font-size: v.$md;
    font-weight: bold;
  }
}




