@use 'vars' as v;

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: v.$text-input-field;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
  p:nth-child(1) {
    display: flex;
    flex-direction: column;
    span:nth-child(1) {
      font-size: v.$md;
      font-weight: bold;
    }
    span:nth-child(2) {
      font-size: v.$sm;
      color: v.$very-light-pink;
    }
  }
  p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
}



