@use 'vars' as v;
@use 'Mixins' as m;

.Orders {
	@include m.generally-container;
	&__container {
		display: grid;
		grid-template-rows: auto 1fr auto;
		width: 300px;
		&--content {
			display: flex;
			flex-direction: column;
		}
	}
	&__title {
		font-size: v.$lg;
		margin-bottom: 40px;
	}
}


