@use 'vars' as v;
@use 'Mixins' as m;

.Product__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 240px);
	gap: 26px;
	place-content: center;
	margin: 3em 0 0 0;
	@include m.responsive(mobile) {
		grid-template-columns: repeat(auto-fill, 140px);
	}
}
