@use 'vars' as v;
@use 'Mixins' as m;

.product__info {
  margin: 24px 24px 0 24px;
  @include m.responsive(mobile) {
    width: 100%;
  }
  p:nth-child(1) {
    font-weight: bold;
    font-size: v.$md;
    margin-top: 0;
    margin-bottom: 4px;
  }
  p:nth-child(1) {
    font-weight: bold;
    font-size: v.$md;
    margin-top: 0;
    margin-bottom: 4px;
  }
  p:nth-child(3) {
    color: v.$very-light-pink;
    font-size: v.$sm;
    margin-top: 0;
    margin-bottom: 36px;
  }
  &--button {
    @include m.primary-button;
    @include m-display-center;
  }
}
