@use 'vars' as v;
@use 'Mixins' as m;

.product__item {
  width: 240px;
  @include m.responsive(mobile) {
    width: 140px;
  }
  img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    @include m.responsive(mobile) {
      width: 140px;
      height: 140px;
    }
  }
  &--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    div p:nth-child(1) {
      font-weight: bold;
      font-size: v.$md;
      margin-top: 0;
      margin-bottom: 4px;
    }
    div p:nth-child(2) {
      font-size: v.$sm;
      margin-top: 0;
      margin-bottom: 0;
      color: v.$very-light-pink;
    }
    figure {
      margin: 0;
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}
